
    h1{
        font-family: 'Georgia';
        color: #34495e;
        border-bottom: 5px solid #3498db;
        padding-bottom: 10px;
        
    }

    h2{
        font-family: 'Georgia';
        color: #34495e;
        border-bottom: 3px solid #3498db;
        padding-bottom: 10px;
        
    }
        
    p {
        font-family: 'Arial';
        font-size: 16px;
        color: #2c3e50;
        margin-top: 20px;
        
    }
    
    ul{
    
        color: #34495e;
        font-size: 16px;
    
    }
    
    .reveal .slides section {
    overflow-y: auto !important;
    height: 100% !important;
}